head
  meta(charset='utf-8')
  title Prototype Template
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.54.1/css/patternfly.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.54.1/css/patternfly.min.css')
  link(rel='stylesheet', href='css/site.min.css')
